RouteDIRECTOR/Connected Services/ServiceReference1/IRouteDirector2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IRouteDirector" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IRouteDirector" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBox">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Box" nillable="true" type="tns:Box" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBox" nillable="true" type="tns:ArrayOfBox" />
  <xs:complexType name="Box">
    <xs:sequence>
      <xs:element minOccurs="0" name="barcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="line" type="xs:int" />
      <xs:element minOccurs="0" name="node" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Box" nillable="true" type="tns:Box" />
</xs:schema>