RouteDIRECTOR/Connected Services/ServiceReference1/IRouteDirector.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://idea-pc:81/IRouteDirector.StackSeq.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IRouteDirector" />
  <xs:element name="AddBox">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="barcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="node" type="xs:int" />
        <xs:element minOccurs="0" name="line" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBoxResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddBoxResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBoxList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IRouteDirector" minOccurs="0" name="boxList" nillable="true" type="q1:ArrayOfBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBoxListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddBoxListResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>