RouteDIRECTOR/Connected Services/ServiceReference1/StackSeq.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StackSeq" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://idea-pc:81/IRouteDirector.StackSeq.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://idea-pc:81/IRouteDirector.StackSeq.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://idea-pc:81/IRouteDirector.StackSeq.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IRouteDirector" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISorting_AddBox_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBox" />
  </wsdl:message>
  <wsdl:message name="ISorting_AddBox_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBoxResponse" />
  </wsdl:message>
  <wsdl:message name="ISorting_AddBoxList_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBoxList" />
  </wsdl:message>
  <wsdl:message name="ISorting_AddBoxList_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBoxListResponse" />
  </wsdl:message>
  <wsdl:portType name="ISorting">
    <wsdl:operation name="AddBox">
      <wsdl:input wsaw:Action="http://tempuri.org/ISorting/AddBox" message="tns:ISorting_AddBox_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISorting/AddBoxResponse" message="tns:ISorting_AddBox_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddBoxList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISorting/AddBoxList" message="tns:ISorting_AddBoxList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISorting/AddBoxListResponse" message="tns:ISorting_AddBoxList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISorting" type="tns:ISorting">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddBox">
      <soap:operation soapAction="http://tempuri.org/ISorting/AddBox" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBoxList">
      <soap:operation soapAction="http://tempuri.org/ISorting/AddBoxList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StackSeq">
    <wsdl:port name="BasicHttpBinding_ISorting" binding="tns:BasicHttpBinding_ISorting">
      <soap:address location="http://idea-pc:81/IRouteDirector.StackSeq.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>